[Unit]
Description=Minecraft Server Launcher
After=network.target
Requires=local-fs.target

[Service]
Type=forking
ExecStart=/home/gui/Minecraft/minecraft-servers start
ExecStop=/home/gui/Minecraft/minecraft-servers.sh stop
ExecStopPost=/bin/bash -c 'while screen -list | grep -q "minecraft"; do sleep 1; done'
WorkingDirectory=/home/gui/Minecraft
User=gui
Group=gui
TimeoutStopSec=15s
KillMode=none
Restart=on-failure

[Install]
WantedBy=multi-user.target
